<html lang="en">
<head>
    <title>Flask Tutorial</title>
    <style>
    </style>
</head>
<body>
<div>
    <h1>That's all right {{firstname}}!</h1>

    <p><strong>{{app_name}}</strong> will have access to the following information:</p>
    <ul>
        {% for scope in scopes %}
        <li>{{ scope }}</li>
        {% endfor %}
    </ul>

    <p>This access will last {{token_validity_minutes}} minutes. Your personal data are safe !</p>
</div>
</body>
</html>